<div class="container">
<div class="container-fluid">
	<!-- Title Jumbotron -->
	<div class="jumbotron jumbotron-fluid cityDiv">
		<div class="container">
			<ul class="list-inline">
				<li id="cityRooms">City<img src="../public/assets/images/logo3.png" id="logo"><br>Rooms</li>
			</ul>
		</div>

		<!-- City Selection -->
		<div class="row">
			<div class="col-xs-0 col-sm-3 col-med-3 col-lg-3"></div>
			<div class="col-xs-12 col-sm-6 col-med-6 col-lg-6 searchBar" id="searchBar">
				<div class="row board">
					<div class="form-group">
						<label for="exampleFormControlSelect1">Select City</label>
						<select class="form-control" id="exampleFormControlSelect1">
							<option>Chicago</option>
							<option>San Francisco</option>
							<option>New York</option>
						</select>
					</div>
				</div>
			</div>
			<div class="col-xs-0 col-sm-3 col-med-3 col-lg-3"></div>
		</div>

		<!-- Date From -->
		<div class="row">
			<div class="col-xs-0 col-sm-3 col-med-3 col-lg-3"></div>
			<div class="col-xs-6 col-sm-3 col-med-3 col-lg-3 dateFrom">
				<form method="post">
					<div class="form-group"> <!-- Date input -->
						<label class="control-label" for="date">From</label>
						<input class="form-control" id="date" name="date" placeholder="MM/DD/YYY" type="text"/>
					</div>
				</form>
			</div>

			<!-- Date To -->
			<div class="col-xs-6 col-sm-3 col-med-3 col-lg-3 dateTo">
				<form method="post">
					<div class="form-group"> <!-- Date input -->
						<label class="control-label" for="date">To</label>
						<input class="form-control" id="date" name="date" placeholder="MM/DD/YYY" type="text"/>
					</div>
				</form>
			</div>
		</div>
			<!-- Number of guests -->
		<div class="row">	
			<div class="col-xs-0 col-sm-3 col-med-3 col-lg-3"></div>
			<div class="col-xs-6 col-sm-3 col-med-3 col-lg-3 noGuests">
				<div class="form-group">
					<label for="exampleSelect1">Number of Guests</label>
					<select class="form-control" id="exampleSelect1">
				      <option>1</option>
				      <option>2</option>
				      <option>3</option>
				      <option>4</option>
				      <option>5</option>
				    </select>
					</div>
			</div>
			<!-- Type of Room -->
			<div class="col-xs-6 col-sm-3 col-med-3 col-lg-3 roomType">
				<div class="form-group">
    				<label for="exampleSelect1">Type of Room</label>
    				<select class="form-control" id="exampleSelect1">
				      <option>Private Room</option>
				      <option>Two Beds</option>
				      <option>Whole House</option>
				    </select>
  				</div>
			</div>
		</div>

		<!-- Button -->
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-med-12 col-lg-12">
				<div class="form-group submitButton"> <!-- Submit button -->
					<button class="btn btn-primary" name="submit" type="submit">Submit</button>
				</div>
			</div>
		</div>
	</div>
	</div>
	</div>
</div>

<div id="bottom" style="background-color:#F0F5FF">

	<br><br><br><br><br><br><br>

	<div class="container-fluid">
		<div class="jumbotron jumbotron-fluid" style="background-color: transparent;">
			<div class="container">
				<div class="row">
					<div class="col-xs-0 col-sm-2 col-med-2 col-lg-2"></div>
					<div class="col-xs-12 col-sm-8 col-med-8 col-lg-8" id="aboutUs">
						<h2 style="text-align: center;"><b>About Us</b></h2>

						<br>

						<p> City Rooms is a web-based application that allows users to view historical data from Airbnb in a variety of ways, including showing trending data of housing costs. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
				        <br><br>
						Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. 
						</p>
					
						<br> <br> <br>

						<a href="#" id="toTop">Back to Top</a>
						
						<br><br><br>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

